body {
  background-color: rgb(33, 33, 33);
  font-family: Roboto, Arial;
}

.container{
  display: flex;
  flex-direction: row;
}

.main-view-container{
  flex: 1;
  border-radius: 8px;
  background-color: rgb(55, 55, 55);
  overflow: hidden;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 420px;
}

.home-container {
  display: flex;
  align-items:center;
  background-color: rgb(55, 55, 55);
  border: none;
  border-radius: 6px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;

  position: fixed;
  top: 0;
  left: 0;
  width: 412px
}

.home-icon{
  width: 15%;
  margin-left: 20px;
  padding-bottom: 5px;
}

div{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.home-text{
  font-family: Roboto, Arial;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  color: rgb(193, 193, 193);
  transition: color 0.5s;
}
.home-text:hover{
  color: white;
}

.sprint-container {
  background-color:rgb(55, 55, 55);
  border: none;
  border-radius: 6px;
  margin: 8px;
  overflow: hidden;
  flex: 1;

  position: fixed;
  bottom: 0;
  left: 0;
  top: 76px;
  width: 412px;
}

.sprint-header-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.sprint-link-container{
  display: flex;
  align-items: center;
  height: 60px;
  padding:12px 0px;
}

.sprint-link-container:hover{
  background-color: rgba(211, 211, 211, 0.129);
}

.github-icon{
  width: 110px;
}

.tiki-icon{
  width: 70px;
}

.link{
  text-decoration: none;
}
