body {
  padding-bottom: 3000px;
  background-color: rgb(33, 33, 33);
}

.container{
  display: flex;
  flex-direction: row;
}

.main-view-container{
  flex: 1;
  border-radius: 8px;
  background-color: rgb(55, 55, 55);
  overflow: hidden;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 420px;
}

.home-container {
  display: flex;
  align-items:center;
  background-color: rgb(55, 55, 55);
  border: none;
  border-radius: 6px;
  margin-left: 8px;
  margin-right: 8px;
  overflow: hidden;
}

.home-icon{
  width: 15%;
  margin-left: 20px;
  padding-bottom: 5px;
}

.home-text{
  font-family: Roboto, Arial;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  color: white;
}

.sprint-container {
  background-color:rgb(55, 55, 55);
  border: none;
  border-radius: 6px;
  margin: 8px;
  overflow: hidden;
  flex: 1;
}



.sprint-header-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.sprint-link-container{
  display: flex;
  height: 60px;
  padding:12px 0px;
}

.sprint-link-container:hover{
  background-color: rgba(211, 211, 211, 0.129);
}

.github-icon{
  width: 110px;
}



